<div class="login_area">
  <div class="logins">
    <div class="logins_box">
      <div class="loginbox">
        <div class="login_txt">
          <strong class="tit">
            <img src="assets/images/login/login_tit.png" alt="Log In">
          </strong>
          <p class="txt">Working Smart,
            <span ng-bind="login.appName"></span>
            <br> Living Smart,
            <br>
            <span>Global Smart.</span>
          </p>
          <div class="sel">
            <div class="selectbox" style="width:140px;">
              <select>
                <option value="ko_KR" selected="">
                  한국어
                </option>
                <option value="en_US">
                  English
                </option>
                <option value="ja_JP">
                  日本語
                </option>
                <option value="zh_CN">
                  中文（简体中文）
                </option>
                <option value="zh_TW">
                  中文（繁體）
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="login_box">
          <strong class="logos">
            <img src="assets/images/login/login_logo.png" alt="HANDY Groupware">
          </strong>
          <div class="logs_cont">
            <p class="logos_des" translate="LOGIN.MSG.REQ_SIGNIN"></p>
            <div class="logs_area">
              <div class="radio-group">
                <input type="radio" id="one" name="selector" checked="checked">
                <label for="one" translate="LOGIN.LABEL.NAME"></label>
                <input type="radio" id="two" name="selector">
                <label for="two" translate="LOGIN.LABEL.SNUMB"></label>
              </div>
              <ul class="logs_txt">
                <li class="log_id">
                  <span class="icon" title="{{'LOGIN.LABEL.ID'|translate}}"></span>
                  <input type="text" placeholder="{{'LOGIN.LABEL.ID'|translate}}" title="{{'LOGIN.TITLE.INST_ID'|translate}}" id="ID" ng-model="login.loginInfo.account">
                </li>
                <li class="log_pw">
                  <span class="icon" title="{{'LOGIN.LABEL.PW'|translate}}"></span>
                  <input type="password" placeholder="{{'LOGIN.LABEL.PW'|translate}}" title="{{'LOGIN.TITLE.INST_PW'|translate}}" id="PASSWD"
                    ng-model="login.loginInfo.secureCode">
                </li>
              </ul>
            </div>
          </div>

          <div class="btns">
            <a class="bts" ng-click="login.doLogin()" translate="LOGIN.BTN.LOGIN"></a>
            <div class="checks">
              <input type="checkbox" id="c1" checked="checked">
              <label for="c1">
                <span></span>Remember me.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="login_footer" translate="LOGIN.MSG.COPYRIGHT"></span>
</div>